.nav-items > ul {
  list-style-type: none;
  display: flex;
  padding: 15px;
}

.nav-items > ul > li {
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.logo {
  width: 100px;
  height: 100px;
}

.card {
  width: 200px;
  border: 1px solid black;
  height: 340px;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}

.restro-list {
  display: flex;
  flex-wrap: wrap;
}

.card:hover {
  background: #e1e1e1;
  border: 1px solid #d0d0d0;
  cursor: pointer;
}

.search {
  padding: 5px;
  margin: 5px;
}

.shimmer-card {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: lightgrey;
}


