/* Normal native css
scss
inline
component/ui libraries
Styled Component
Tailwind css framework 
  - Css on the go i.e in the same file
  - Reusablity
  - less bundle size as it offers minimal css
  - flexible ui - very much customizable
  -*/ 
/* Styled Component --- css inside javascript */

/* .nav-items > ul {
  list-style-type: none;
  display: flex;
  padding: 15px;
}

.nav-items > ul > li {
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.logo {
  width: 100px;
  height: 100px;
}

.card {
  width: 200px;
  border: 1px solid black;
  height: 340px;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}

.restro-list {
  display: flex;
  flex-wrap: wrap;
}

.card:hover {
  background: #e1e1e1;
  border: 1px solid #d0d0d0;
  cursor: pointer;
}

.search {
  padding: 5px;
  margin: 5px;
}

.shimmer-card {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: lightgrey;
}

.menu {
  display: flex;
}

.menu > menu-item > img {
  width: 100%;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
 */
/* .search-btn {
  background-color: greenyellow;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;